@model BDFIREBASE.Models.Contacto

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Editar contacto</h4>
    </div>
    <div class="panel-body">
        <form action="@Url.Action("Editar","Mantenedor")" method="post">

            <input type="hidden" name="IdContacto" value="@Html.DisplayTextFor(m => m.IdContacto)" />
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label>Nombres</label>
                    <input class="form-control" type="text" name="Nombres" value="@Html.DisplayTextFor(m => m.Nombres)" />
                </div>
                <div class="form-group col-md-5">
                    <label>Apellido Paterno</label>
                    <input class="form-control" type="text" name="apellidoPaterno" value="@Html.DisplayTextFor(m => m.apellidoPaterno)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label>Apellido Materno</label>
                    <input class="form-control" type="text" name="apellidoMaterno" value="@Html.DisplayTextFor(m => m.apellidoMaterno)" />
                </div>
                <div class="form-group col-md-5">
                    <label>Ciudad</label>
                    <input class="form-control" type="text" name="Ciudad" value="@Html.DisplayTextFor(m => m.Ciudad)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label>Correo</label>
                    <input class="form-control" type="text" name="Correo" value="@Html.DisplayTextFor(m => m.Correo)" />
                </div>
                <div class="form-group col-md-5">
                    <label>Telefono</label>
                    <input class="form-control" type="text" name="Telefono" value="@Html.DisplayTextFor(m => m.Telefono)" />
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="form-group col-md-5">
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
                <div class="form-group col-md-5">
                    <a class="btn btn-danger" href="@Url.Action("Inicio","Mantenedor")">Volver</a>
                </div>
            </div>
            <a></a>
        </form>


    </div>
</div>
